<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card border-info mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <h3 class="card-title"><span class="fa fa-taxi"></span> Unidad</h3>
        </div>
        <div class="card-body text-dark text-left">
          <p>
            <strong>Placa</strong> : {{unidad.placas}}<br>
            <hr>
            <strong>Marca</strong> : {{unidad.marca}}<br>
            <strong>Modelo</strong> : {{unidad.modelo}}<br>
            <strong>Puertas</strong> : {{unidad.puertas}}<br>
            <strong>A/C</strong> : {{unidad.ac}}<br>
            <strong>BT</strong> : {{unidad.bt}}<br>
            <strong>Especial</strong> : {{unidad.especial}}<br>
            <hr>
            <strong>Aseguradora</strong> : {{unidad.aseguradora}}<br>
            <strong>Póliza</strong> : {{unidad.polizaSeguro}}<br>
            <strong>Teléfono</strong> : {{unidad.contactoAseguradora}}<br>
          </p>
          <hr>
          <div class="text-center">
            <a href="/units/edit?id={{unidad._id}}" class="btn btn-dark btn-sm">
              Cambiar Datos
            </a>
          </div>
        </div>
      </div>
    </div>
    
   <div class="col-sm">
      <div class="card border-info mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <h3 class="card-title"><span class="fa fa-users"></span> Conductores</h3>
        </div>
        <div class="card-body text-dark text-left">
          <p>
            <strong>Nombre</strong> : -<br>
            <strong>Dirección</strong> : -<br>
            <strong>Teléfono Unidad</strong> : -<br>
            <strong>Teléfono Personal</strong> : -<br>
            <strong>Contacto de Emergencia:</strong> : -<br>
            <hr>
            <strong>Nombre</strong> : -<br>
            <strong>Dirección</strong> : -<br>
            <strong>Teléfono Unidad</strong> : -<br>
            <strong>Teléfono Personal</strong> : -<br>
            <strong>Contacto de Emergencia:</strong> : -<br>
          </p>
          <hr>
          <div class="text-center">
            <a href="#" class="btn btn-dark btn-sm">
              Editar
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card border-info mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <h3 class="card-title"><span class="fa fa-user-tie"></span> Propietario</h3>
        </div>
        <div class="card-body text-dark text-left">
          <p>
            <strong>Nombre</strong> : -<br>
            <strong>Dirección</strong> : -<br>
            <strong>Teléfono</strong> : -<br>
          </p>
          <hr>
          <div class="text-center">
            <a href="#" class="btn btn-dark btn-sm">
              Editar
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>